# Arquivos de ambiente
.env
.env.local
.env.*.local
.history

# Arquivos de cache
__pycache__/
*.py[cod]
*$py.class

# Diretórios de logs e banco de dados
*.log
*.sqlite3

# Diretórios de build e distribuição
build/
dist/
*.egg-info/
.eggs/

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos de cobertura de testes
.coverage
htmlcov/

# Arquivos de sistema
.DS_Store
Thumbs.db